@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    width: 55%;
    margin: 0 auto;
    padding-top: 50px;
 
}
.buttonContainer {
   display: flex;
   justify-content: center;
   margin-top: 30px;
}
#startButton {
    cursor: pointer;
    font-family: 'Press Start 2P';
    background-color: white;
    width: 200px;
    padding: 10px;
    border: solid 1px black;
}
#output {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.attempts {
    letter-spacing: 3px;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'Press Start 2P';
    font-size: 16px;
}

.attempts span {
    font-family: 'Press Start 2P';
    line-height: 16px;
}
#output img {
    height: 250px;
}
#category, #word {
    width: 400px;
    margin: 0 auto;
    text-align: center;
  
   
  
}
#category {
    padding-top: 50px;
    letter-spacing: 2px;
    font-family: 'Press Start 2P';
}

#word {
    font-size: 22px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    font-family: 'Press Start 2P';
    line-height: 50px;
}

#letters {
width: 100%;
padding-top: 20px;
margin-top: 20px;
display: flex;
flex-wrap: wrap;


}

#letters button {
    flex-basis: 7%;
    margin-bottom: 4px;
    margin-left: 4px;
    padding: 5px;
    cursor: pointer;
}